/build
*~
.DS_Store
/*.xcodeproj/*.mode1v3
/*.xcodeproj/*.pbxuser
/assets/*.log
/assets/core/cache/*collcach
*.dll
*.exe
*.pdb
*.ipdb
*.iobj
*.lib
*.ilk
.vs/
*.o
*.o.d
*.so
*.a
*.class
*.dex
*.user
android/libs/
android/obj/